* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: #FFE600;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: -180px;
}

.nose {
    /*    width: 18px;
  height: 12px; */
    border: 12px solid;
    border-color: black transparent transparent;
    border-width: 12px 14px;
    border-radius: 18px;
    position: absolute;
    top: 25px;
}

.eye {
    width: 48px;
    height: 48px;
    background: #2e2e2e;
    border: 3px solid black;
    border-radius: 50%;
    position: absolute;
    top: 0;
}

.eye::before {
    content: '';
    display: block;
    width: 23px;
    height: 23px;
    background: #fff;
    border-radius: 50%;
    border: 3px solid #000;
    position: absolute;
    top: -2.5px;
    left: 3px;
}

.eye.left {
    left: -113px;
}

.eye.right {
    right: -113px;
}

.face {
    width: 66px;
    height: 66px;
    border-radius: 50%;
    background: #F00;
    border: 3px solid #000;
    position: absolute;
    top: 84px;
}

.face.left {
    right: 93px;
}

.face.right {
    left: 93px;
}

.upperLip {
    width: 61px;
    height: 19px;
    border: solid #000;
    position: absolute;
    top: 56px;
    background: #FFE600;
}

.upperLip.left {
    right: 0;
    border-width: 0 0 3px 3px;
    border-bottom-left-radius: 100px 50px;
    transform: rotate(-25deg);
}

.upperLip.right {
    left: 0;
    border-width: 0 3px 3px 0;
    border-bottom-right-radius: 100px 50px;
    transform: rotate(25deg);
}

.lowerLipWrapper {
    position: absolute;
    width: 105px;
    height: 132px;
    bottom: -192px;
    overflow: hidden;
}

.lowerLip {
    position: absolute;
    bottom: 2px;
    width: 104px;
    height: 1000px;
    border-radius: 86%;
    background: #9B000A;
    border: 3px solid #000;
    z-index: -1;
    overflow: hidden;
}

.lowerLip::after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    border: solid #FF485F;
    border-width: 106px 0 0 106px;
    border-radius: 49%;
}